.pos .delivery-detail {
    margin: 5px 5px;
}

.pos .delivery-detail input {
    line-height: 12px;
    border-radius: 2px;
    border: solid 1px rgb(220,220,220);
    margin-bottom: 1px;
    background: #FFFFFF;
    color: #4A4F59;
    width: 350px;
    font-size: 14px;
    box-sizing: border-box;
}
.pos .delivery-note input {
    line-height: 12px;
    background: #FFFFFF;
    color: #4A4F59;
    width: 352px;
    box-sizing: border-box;
    margin-right: -60px;
}

.pos .delivery-detail2 select {
    line-height: 16px;
    border: solid 2px #cecbcb;
    margin-bottom: 10px;
    background: #FFFFFF;
    color: #4A4F59;
    width: 350px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 8px;
}

.pos .delivery-detail > .label{
    font-weight: italic;
    display: inline-block;
    width: 56px;
    margin-right: 2px;
}

.pos .delivery-detail .s_small {
    font-size: 14px;
    padding: 5px;
}

.tabs{
    width: 600px;
    display: block;
    margin: 40px auto;
    position: relative;
}

.tabs .tab{
    float: left;
    display: block;
}

.tabs .tab>input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs .tab>label {
    display: block;
	padding: 15px 43px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color: #4A4F59;
    background: #F0EEEE;
    border: solid 1px #bfbfbf;
}

.tabs .content {
    z-index: 0;
    overflow: hidden;
    width: 370px;
    padding: 25px;
    position: absolute;
    left: 0;
    background: #F0EEEE;
    color: #4A4F59;
    opacity:0;
    transition: opacity 400ms ease-out;
    padding-left: 0px;
}

.tabs>.tab>[id^="tab"]:checked + label {
    top: 0;
    background: #714B67;
    color: #FFFF;
}

.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
    z-index: 1;
    opacity: 1;
    transition: opacity 400ms ease-out;
}

.pos .popup .body li:before {
	content: none;
}

.pos_shipping_address {
    min-height: 14px !important;
    width: 22px !important;
    box-shadow: none !important;
}

/* DeliverySuccessfully */
.modal-dialog .confirm-notify-popup {
    border-radius: 5px;
    height: 220px;
}

.modal-dialog .confirm-notify-popup .order_status {
    height: 80px;
    width: 80px;
    margin-top: 15px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-left-color: #5cb85c;
    animation-name: load_order;
    animation-duration: 0.8s;
    display: inline-block;
    border-radius: 50%;
}

.modal-dialog .confirm-notify-popup .order_status:after {
    border-radius: 50%;
}

.modal-dialog .confirm-notify-popup .order_status .show_tick {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 10px;
}

.modal-dialog .confirm-notify-popup .order_status .show_tick.draw:after {
    animation-name: show_tick;
    transform: scaleX(-0.9) rotate(135deg);
    animation-duration: 1.2s;
    animation-timing-function: ease;
}

.modal-dialog .confirm-notify-popup .order_status .show_tick:after {
    opacity: 1;
    height: 40px;
    width: 20px;
    border-right: 3px solid #5cb85c;
    border-top: 3px solid #5cb85c;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dialog .confirm-notify-popup h2 {
    color: #5CB85C;
}

/* keyframes */
@keyframes load_order {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes show_tick {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 20px;
        opacity: 1;
    }

    40% {
        height: 40px;
        width: 20px;
        opacity: 1;
    }

    100% {
        height: 40px;
        width: 20px;
        opacity: 1;
    }
}