#wk_change_table {
  padding: 4px;
  border-radius: 3px;
  border: solid 1px #cecbcb;
  margin-bottom: 4px;
  background: white;
  font-family: "Lato", "Lucida Grande", Helvetica, Verdana, Arial;
  color: #555555;
  width: 340px;
  font-size: 14px;
  box-sizing: border-box;
}

#wk_change_floor {
  padding: 4px;
  border-radius: 3px;
  border: solid 1px #cecbcb;
  margin-bottom: 4px;
  background: white;
  font-family: "Lato", "Lucida Grande", Helvetica, Verdana, Arial;
  color: #555555;
  width: 340px;
  font-size: 14px;
  box-sizing: border-box;
}

.show_info {
  font-size: 16px;
  color: red;
  margin-top: 1%;
  margin-bottom: 1%;
  display: none;
  font-weight: 500;
}

.wk_floor {
  font-size: 17px;
  color: #4C4B4B;
}

.wk_table {
  font-size: 17px;
  color: #4C4B4B;
}